####################################################################################################
##	A list of few more files and directories to ignore.
####################################################################################################

##################################################
# Ignore local project and ip directories
##################################################
#OBSOLETE-20180423 ip/
#OBSOLETE-20180423 xpr/


################################################## 
# Ignore local project files
##################################################
#OBSOLETE-20180423 /hls/*/*_prj/
