####################################################################################################
##	A list of few more fiels and directories to ignore.
####################################################################################################

##################################################
# Ignore local project and ip directories
##################################################
ip/
xpr/


################################################## 
# Ignore local project files
##################################################
/hls/*/*_prj/
