# Compiled source 
*.com
*.class
*.o
*.so
.directory
*.pyc
tags

# Executables
*.out
*.hex

#Vivado
*.log
*.jou
*_prj/


#vim 
*.swp

# backup
*.bak
*.sav


#Folders 

build/

#cFDK specific files 
.ip_guard


